.main {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.link-b {
  color: #d3dcf1;
  font-style: normal;
  text-decoration: none;
}

.title {
  font-size: 0.5em;
  width: 100%;
}

.header{
  width: 100%;
  height: 60%;
  margin-top: 1em;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #d3dcf1;
  font-size: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.round-picture {
  border-radius: 5px;
}

.no-margin {
  margin: 0;
}

.sub {
  font-size: 30px;
  display: block;
  height: 20%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  overflow: hidden;
  z-index: 2;
}